In [1]:
import pandas as pd
import numpy as np

In [2]:
data_dir = "./data/demo_r_gind3_1_Data.csv"

In [3]:


data = pd.DataFrame.from_csv(data_dir, encoding = "ISO-8859-1")
data.index = pd.Index(map(lambda x: x.year, data.index))
data = data.reset_index()
data = data.drop([data.columns[3], data.columns[5]], axis=1)
data = data.rename(columns={"index": "Year"})
data.head()

/home/alex/.local/lib/python3.5/site-packages/ipykernel_launcher.py:3: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  This is separate from the ipykernel package so we can avoid doing imports until

   Year    GEO                                          GEO_LABEL       Value
0  2000     BE                                            Belgium  10,239,085
1  2000    BE1  Région de Bruxelles-Capitale / Brussels Hoofds...     959,318
2  2000   BE10  Région de Bruxelles-Capitale / Brussels Hoofds...     959,318
3  2000  BE100  Arr. de Bruxelles-Capitale / Arr. van Brussel-...     959,318
4  2000    BE2                                      Vlaams Gewest   5,940,251

In [4]:
# Get BE Year 2000
data[(data["Year"] == 2000) & (data["GEO"] == "BE")].iloc[0].Value

'10,239,085'

In [5]:
# Get BE Year 2001
data[(data["Year"] == 2001) & (data["GEO"] == "BE")].iloc[0].Value

'10,263,414'

In [17]:
list_per_code = data.groupby("GEO").agg(lambda x: x.tolist())
list_per_code = list_per_code.drop(["Year", "GEO_LABEL"], axis=1)
list_per_code.head(5)

                                                   Value
GEO
AL     [3,058,497, 3,063,318, 3,057,018, 3,044,993, 3...
AL0    [:, :, 3,057,018, 3,044,993, 3,034,231, 3,019,...
AL01   [:, :, :, :, :, :, :, :, :, :, :, :, 861,058, ...
AL011  [:, :, :, :, :, :, :, :, :, :, :, :, 140,956, ...
AL012  [:, :, :, :, :, :, :, :, :, :, :, :, 271,947, ...

In [31]:
def list_of_nums(x):
    lst = []
    for i in x:
        if i == ':':
            lst.append(np.nan)
        else:
            lst.append(int(i.replace(",", "")))
    return lst
all_data = list_per_code.Value.apply(lambda x :pd.Series(list_of_nums(x)))
cols = list(range(2000, 2019))
all_data.columns = cols
all_data.replace()
all_data.head(5)

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
GEO,,,,,,,,,,,,,,,,,,,
AL,3058497.0,3063318.0,3057018.0,3044993.0,3034231.0,3019634.0,3003329.0,2981755.0,2958266.0,2936355.0,2918674.0,2907361.0,2903008.0,2897770.0,2892394.0,2885796.0,2875592.0,2876591.0,2870324.0
AL0,NaN,NaN,3057018.0,3044993.0,3034231.0,3019634.0,3003329.0,2981755.0,2958266.0,2936355.0,2918674.0,2907361.0,2903008.0,2897770.0,2892394.0,2885796.0,2875592.0,2876591.0,2870324.0
AL01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,861058.0,853084.0,844921.0,836448.0,830981.0,826904.0,819793.0
AL011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140956.0,137722.0,134332.0,131054.0,129056.0,125579.0,120978.0
AL012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,271947.0,274029.0,276058.0,277989.0,280205.0,284823.0,289626.0

In [43]:
nuts_val = np.array(list(map(lambda x: sum(c.isdigit() for c in x), all_data.index.values)))
nuts_val

array([0, 1, 2, ..., 2, 2, 2])

In [54]:
no_num_index = all_data[nuts_val == 0]
no_num_index.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
GEO,,,,,,,,,,,,,,,,,,,
AL,3058497.0,3063318.0,3057018.0,3044993.0,3034231.0,3019634.0,3003329.0,2981755.0,2958266.0,2936355.0,2918674.0,2907361.0,2903008.0,2897770.0,2892394.0,2885796.0,2875592.0,2876591.0,2870324.0
AT,8002186.0,8020946.0,8063640.0,8100273.0,8142573.0,8201359.0,8254298.0,8282984.0,8307989.0,8335003.0,8351643.0,8375164.0,8408121.0,8451860.0,8507786.0,8584926.0,8700471.0,8772865.0,8822267.0
BE,10239085.0,10263414.0,10309725.0,10355844.0,10396421.0,10445852.0,10511382.0,10584534.0,10666866.0,10753080.0,10839905.0,11000638.0,11075889.0,11137974.0,11180840.0,11237274.0,11311117.0,11351727.0,11398589.0
BG,8190876.0,8149468.0,7868815.0,7805506.0,7745147.0,7688573.0,7629371.0,7572673.0,7518002.0,7467119.0,7421766.0,7369431.0,7327224.0,7284552.0,7245677.0,7202198.0,7153784.0,7101859.0,7050034.0
CH,7164444.0,7204055.0,7255653.0,7313853.0,7364148.0,7415102.0,7459128.0,7508739.0,7593494.0,7701856.0,7785806.0,7870134.0,7954662.0,8039060.0,8139631.0,8237666.0,8327126.0,8419550.0,8484130.0

In [62]:
len_of_tag = np.array(list(map(len, no_num_index.index.values)))
nuts0 = no_num_index[len_of_tag == 2]
nuts0.to_csv("./data/nuts0.csv")
nuts0.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
GEO,,,,,,,,,,,,,,,,,,,
AL,3058497.0,3063318.0,3057018.0,3044993.0,3034231.0,3019634.0,3003329.0,2981755.0,2958266.0,2936355.0,2918674.0,2907361.0,2903008.0,2897770.0,2892394.0,2885796.0,2875592.0,2876591.0,2870324.0
AT,8002186.0,8020946.0,8063640.0,8100273.0,8142573.0,8201359.0,8254298.0,8282984.0,8307989.0,8335003.0,8351643.0,8375164.0,8408121.0,8451860.0,8507786.0,8584926.0,8700471.0,8772865.0,8822267.0
BE,10239085.0,10263414.0,10309725.0,10355844.0,10396421.0,10445852.0,10511382.0,10584534.0,10666866.0,10753080.0,10839905.0,11000638.0,11075889.0,11137974.0,11180840.0,11237274.0,11311117.0,11351727.0,11398589.0
BG,8190876.0,8149468.0,7868815.0,7805506.0,7745147.0,7688573.0,7629371.0,7572673.0,7518002.0,7467119.0,7421766.0,7369431.0,7327224.0,7284552.0,7245677.0,7202198.0,7153784.0,7101859.0,7050034.0
CH,7164444.0,7204055.0,7255653.0,7313853.0,7364148.0,7415102.0,7459128.0,7508739.0,7593494.0,7701856.0,7785806.0,7870134.0,7954662.0,8039060.0,8139631.0,8237666.0,8327126.0,8419550.0,8484130.0

In [34]:
nuts1 = all_data[nuts_val == 0]