In [1]:
import pandas as pd
import numpy as np

In [2]:
data_dir = "./data/demo_r_gind3_1_Data.csv"

In [3]:


data = pd.DataFrame.from_csv(data_dir, encoding = "ISO-8859-1")
data.index = pd.Index(map(lambda x: x.year, data.index))
data = data.reset_index()
data = data.drop([data.columns[3], data.columns[5]], axis=1)
data = data.rename(columns={"index": "Year"})
data.head()

/home/alex/.local/lib/python3.5/site-packages/ipykernel_launcher.py:3: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  This is separate from the ipykernel package so we can avoid doing imports until

   Year    GEO                                          GEO_LABEL       Value
0  2000     BE                                            Belgium  10,239,085
1  2000    BE1  Région de Bruxelles-Capitale / Brussels Hoofds...     959,318
2  2000   BE10  Région de Bruxelles-Capitale / Brussels Hoofds...     959,318
3  2000  BE100  Arr. de Bruxelles-Capitale / Arr. van Brussel-...     959,318
4  2000    BE2                                      Vlaams Gewest   5,940,251

In [4]:
# Get BE Year 2000
data[(data["Year"] == 2000) & (data["GEO"] == "BE")].iloc[0].Value

'10,239,085'

In [5]:
# Get BE Year 2001
data[(data["Year"] == 2001) & (data["GEO"] == "BE")].iloc[0].Value

'10,263,414'

In [17]:
list_per_code = data.groupby("GEO").agg(lambda x: x.tolist())
list_per_code = list_per_code.drop(["Year", "GEO_LABEL"], axis=1)
list_per_code.head(5)

                                                   Value
GEO
AL     [3,058,497, 3,063,318, 3,057,018, 3,044,993, 3...
AL0    [:, :, 3,057,018, 3,044,993, 3,034,231, 3,019,...
AL01   [:, :, :, :, :, :, :, :, :, :, :, :, 861,058, ...
AL011  [:, :, :, :, :, :, :, :, :, :, :, :, 140,956, ...
AL012  [:, :, :, :, :, :, :, :, :, :, :, :, 271,947, ...

In [18]:
def list_of_nums(x):
    lst = []
    for i in x:
        lst.append(i.replace())
new_df = list_per_code.Value.apply(lambda x :pd.Series(x))
new_cols = list(range(2000, 2019))
new_df.columns = new_cols
new_df.replace()
new_df.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
GEO,,,,,,,,,,,,,,,,,,,
AL,"3,058,497","3,063,318","3,057,018","3,044,993","3,034,231","3,019,634","3,003,329","2,981,755","2,958,266","2,936,355","2,918,674","2,907,361","2,903,008","2,897,770","2,892,394","2,885,796","2,875,592","2,876,591","2,870,324"
AL0,:,:,"3,057,018","3,044,993","3,034,231","3,019,634","3,003,329","2,981,755","2,958,266","2,936,355","2,918,674","2,907,361","2,903,008","2,897,770","2,892,394","2,885,796","2,875,592","2,876,591","2,870,324"
AL01,:,:,:,:,:,:,:,:,:,:,:,:,"861,058","853,084","844,921","836,448","830,981","826,904","819,793"
AL011,:,:,:,:,:,:,:,:,:,:,:,:,"140,956","137,722","134,332","131,054","129,056","125,579","120,978"
AL012,:,:,:,:,:,:,:,:,:,:,:,:,"271,947","274,029","276,058","277,989","280,205","284,823","289,626"

In [7]:
# Get AL year 2000
list_per_code.loc["BE"][0][0]

'10,239,085'

In [8]:
# Get AL year 2001
list_per_code.loc["BE"][0][1]

'10,263,414'

In [11]:
#data["GEO"].apply(lambda X: pd.Series(x.values)).unstack()

NameError: name 'x' is not defined