In [75]:
import pandas as pd
import numpy as np

In [76]:
data_dir = "./data/demo_r_gind3_1_Data.csv"

In [77]:


data = pd.DataFrame.from_csv(data_dir, encoding = "ISO-8859-1")
data.index = pd.Index(map(lambda x: x.year, data.index))
data = data.reset_index()
data = data.drop([data.columns[3], data.columns[5]], axis=1)
data = data.rename(columns={"index": "Year"})
data.head()

/home/alex/.local/lib/python3.5/site-packages/ipykernel_launcher.py:3: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  This is separate from the ipykernel package so we can avoid doing imports until

   Year    GEO                                          GEO_LABEL       Value
0  2000     BE                                            Belgium  10,239,085
1  2000    BE1  Région de Bruxelles-Capitale / Brussels Hoofds...     959,318
2  2000   BE10  Région de Bruxelles-Capitale / Brussels Hoofds...     959,318
3  2000  BE100  Arr. de Bruxelles-Capitale / Arr. van Brussel-...     959,318
4  2000    BE2                                      Vlaams Gewest   5,940,251

In [78]:
# Get BE Year 2000
data[(data["Year"] == 2000) & (data["GEO"] == "BE")].iloc[0].Value

'10,239,085'

In [79]:
# Get BE Year 2001
data[(data["Year"] == 2001) & (data["GEO"] == "BE")].iloc[0].Value

'10,263,414'

In [80]:
list_per_code = data.groupby("GEO").agg(lambda x: x.tolist())
list_per_code = list_per_code.drop(["Year", "GEO_LABEL"], axis=1)
list_per_code.head(5)

                                                   Value
GEO
AL     [3,058,497, 3,063,318, 3,057,018, 3,044,993, 3...
AL0    [:, :, 3,057,018, 3,044,993, 3,034,231, 3,019,...
AL01   [:, :, :, :, :, :, :, :, :, :, :, :, 861,058, ...
AL011  [:, :, :, :, :, :, :, :, :, :, :, :, 140,956, ...
AL012  [:, :, :, :, :, :, :, :, :, :, :, :, 271,947, ...

In [81]:
def list_of_nums(x):
    lst = []
    for i in x:
        if i == ':':
            lst.append(np.nan)
        else:
            lst.append(int(i.replace(",", "")))
    return lst
all_data = list_per_code.Value.apply(lambda x :pd.Series(list_of_nums(x)))
cols = list(range(2000, 2019))
all_data.columns = cols
all_data.replace()
all_data.head(5)

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
GEO,,,,,,,,,,,,,,,,,,,
AL,3058497.0,3063318.0,3057018.0,3044993.0,3034231.0,3019634.0,3003329.0,2981755.0,2958266.0,2936355.0,2918674.0,2907361.0,2903008.0,2897770.0,2892394.0,2885796.0,2875592.0,2876591.0,2870324.0
AL0,NaN,NaN,3057018.0,3044993.0,3034231.0,3019634.0,3003329.0,2981755.0,2958266.0,2936355.0,2918674.0,2907361.0,2903008.0,2897770.0,2892394.0,2885796.0,2875592.0,2876591.0,2870324.0
AL01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,861058.0,853084.0,844921.0,836448.0,830981.0,826904.0,819793.0
AL011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140956.0,137722.0,134332.0,131054.0,129056.0,125579.0,120978.0
AL012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,271947.0,274029.0,276058.0,277989.0,280205.0,284823.0,289626.0

In [82]:
nuts_val = np.array(list(map(lambda x: sum(c.isdigit() for c in x), all_data.index.values)))
nuts_val

array([0, 1, 2, ..., 2, 2, 2])

In [83]:
no_num_index = all_data[nuts_val == 0]
no_num_index.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
GEO,,,,,,,,,,,,,,,,,,,
AL,3058497.0,3063318.0,3057018.0,3044993.0,3034231.0,3019634.0,3003329.0,2981755.0,2958266.0,2936355.0,2918674.0,2907361.0,2903008.0,2897770.0,2892394.0,2885796.0,2875592.0,2876591.0,2870324.0
AT,8002186.0,8020946.0,8063640.0,8100273.0,8142573.0,8201359.0,8254298.0,8282984.0,8307989.0,8335003.0,8351643.0,8375164.0,8408121.0,8451860.0,8507786.0,8584926.0,8700471.0,8772865.0,8822267.0
BE,10239085.0,10263414.0,10309725.0,10355844.0,10396421.0,10445852.0,10511382.0,10584534.0,10666866.0,10753080.0,10839905.0,11000638.0,11075889.0,11137974.0,11180840.0,11237274.0,11311117.0,11351727.0,11398589.0
BG,8190876.0,8149468.0,7868815.0,7805506.0,7745147.0,7688573.0,7629371.0,7572673.0,7518002.0,7467119.0,7421766.0,7369431.0,7327224.0,7284552.0,7245677.0,7202198.0,7153784.0,7101859.0,7050034.0
CH,7164444.0,7204055.0,7255653.0,7313853.0,7364148.0,7415102.0,7459128.0,7508739.0,7593494.0,7701856.0,7785806.0,7870134.0,7954662.0,8039060.0,8139631.0,8237666.0,8327126.0,8419550.0,8484130.0

In [84]:
len_of_tag = np.array(list(map(len, no_num_index.index.values)))
nuts0 = no_num_index[len_of_tag == 2]
nuts0_letter = no_num_index[len_of_tag == 3]
nuts0_letter.to_csv("./data/nuts0_letter.csv")
nuts0.to_csv("./data/nuts0.csv")
nuts0.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
GEO,,,,,,,,,,,,,,,,,,,
AL,3058497.0,3063318.0,3057018.0,3044993.0,3034231.0,3019634.0,3003329.0,2981755.0,2958266.0,2936355.0,2918674.0,2907361.0,2903008.0,2897770.0,2892394.0,2885796.0,2875592.0,2876591.0,2870324.0
AT,8002186.0,8020946.0,8063640.0,8100273.0,8142573.0,8201359.0,8254298.0,8282984.0,8307989.0,8335003.0,8351643.0,8375164.0,8408121.0,8451860.0,8507786.0,8584926.0,8700471.0,8772865.0,8822267.0
BE,10239085.0,10263414.0,10309725.0,10355844.0,10396421.0,10445852.0,10511382.0,10584534.0,10666866.0,10753080.0,10839905.0,11000638.0,11075889.0,11137974.0,11180840.0,11237274.0,11311117.0,11351727.0,11398589.0
BG,8190876.0,8149468.0,7868815.0,7805506.0,7745147.0,7688573.0,7629371.0,7572673.0,7518002.0,7467119.0,7421766.0,7369431.0,7327224.0,7284552.0,7245677.0,7202198.0,7153784.0,7101859.0,7050034.0
CH,7164444.0,7204055.0,7255653.0,7313853.0,7364148.0,7415102.0,7459128.0,7508739.0,7593494.0,7701856.0,7785806.0,7870134.0,7954662.0,8039060.0,8139631.0,8237666.0,8327126.0,8419550.0,8484130.0

In [85]:
nuts1 = all_data[nuts_val == 1]
nuts1.to_csv("./data/nuts1.csv")
nuts1.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
GEO,,,,,,,,,,,,,,,,,,,
AL0,NaN,NaN,3057018.0,3044993.0,3034231.0,3019634.0,3003329.0,2981755.0,2958266.0,2936355.0,2918674.0,2907361.0,2903008.0,2897770.0,2892394.0,2885796.0,2875592.0,2876591.0,2870324.0
AT1,3359846.0,3369328.0,3392463.0,3418657.0,3444493.0,3479550.0,3512077.0,3529875.0,3547701.0,3565870.0,3579589.0,3596910.0,3617321.0,3646529.0,3679647.0,3722471.0,3784928.0,3825277.0,3852119.0
AT2,1743626.0,1742012.0,1748050.0,1747938.0,1750194.0,1755706.0,1760131.0,1761876.0,1763416.0,1764257.0,1763043.0,1763329.0,1764723.0,1766444.0,1771127.0,1779211.0,1792494.0,1798375.0,1801112.0
AT3,2898714.0,2909606.0,2923127.0,2933678.0,2947886.0,2966103.0,2982090.0,2991233.0,2996872.0,3004876.0,3009011.0,3014925.0,3026077.0,3038887.0,3057012.0,3083244.0,3123049.0,3149213.0,3169036.0
BE1,959318.0,964405.0,978384.0,992041.0,999899.0,1006749.0,1018804.0,1031215.0,1048491.0,1068532.0,1089538.0,1136778.0,1151317.0,1165208.0,1172751.0,1184101.0,1201285.0,1199095.0,1205492.0

In [86]:
nuts2 = all_data[nuts_val == 2]
nuts2.to_csv("./data/nuts2.csv")
nuts2.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
GEO,,,,,,,,,,,,,,,,,,,
AL01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,861058.0,853084.0,844921.0,836448.0,830981.0,826904.0,819793.0
AL02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1083768.0,1097258.0,1111160.0,1124817.0,1130587.0,1146183.0,1162544.0
AL03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,958182.0,947428.0,936313.0,924531.0,914024.0,903504.0,887987.0
AT11,276226.0,275956.0,276673.0,276542.0,276792.0,278032.0,279127.0,280062.0,280977.0,282777.0,283697.0,284581.0,285782.0,286691.0,287416.0,288356.0,291011.0,291942.0,292675.0
AT12,1535083.0,1539416.0,1544667.0,1549269.0,1557291.0,1568949.0,1580501.0,1588567.0,1595503.0,1602958.0,1605897.0,1609474.0,1614455.0,1618592.0,1625485.0,1636778.0,1653691.0,1665753.0,1670668.0

In [87]:
nuts3 = all_data[nuts_val == 3]
nuts3.to_csv("./data/nuts3.csv")
nuts3.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
GEO,,,,,,,,,,,,,,,,,,,
AL011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140956.0,137722.0,134332.0,131054.0,129056.0,125579.0,120978.0
AL012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,271947.0,274029.0,276058.0,277989.0,280205.0,284823.0,289626.0
AL013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87762.0,86082.0,84306.0,82428.0,81294.0,79559.0,77395.0
AL014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,137782.0,135703.0,133748.0,131829.0,130258.0,129019.0,126800.0
AL015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,222611.0,219548.0,216477.0,213148.0,210168.0,207924.0,204994.0

In [94]:
nuts0

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
GEO,,,,,,,,,,,,,,,,,,,
AL,3058497.0,3063318.0,3057018.0,3044993.0,3034231.0,3019634.0,3003329.0,2981755.0,2958266.0,2936355.0,2918674.0,2907361.0,2903008.0,2897770.0,2892394.0,2885796.0,2875592.0,2876591.0,2870324.0
AT,8002186.0,8020946.0,8063640.0,8100273.0,8142573.0,8201359.0,8254298.0,8282984.0,8307989.0,8335003.0,8351643.0,8375164.0,8408121.0,8451860.0,8507786.0,8584926.0,8700471.0,8772865.0,8822267.0
BE,10239085.0,10263414.0,10309725.0,10355844.0,10396421.0,10445852.0,10511382.0,10584534.0,10666866.0,10753080.0,10839905.0,11000638.0,11075889.0,11137974.0,11180840.0,11237274.0,11311117.0,11351727.0,11398589.0
BG,8190876.0,8149468.0,7868815.0,7805506.0,7745147.0,7688573.0,7629371.0,7572673.0,7518002.0,7467119.0,7421766.0,7369431.0,7327224.0,7284552.0,7245677.0,7202198.0,7153784.0,7101859.0,7050034.0
CH,7164444.0,7204055.0,7255653.0,7313853.0,7364148.0,7415102.0,7459128.0,7508739.0,7593494.0,7701856.0,7785806.0,7870134.0,7954662.0,8039060.0,8139631.0,8237666.0,8327126.0,8419550.0,8484130.0
CY,690497.0,697549.0,705539.0,713720.0,722893.0,733067.0,744013.0,757916.0,776333.0,796930.0,819140.0,839751.0,862011.0,865878.0,858000.0,847008.0,848319.0,854802.0,864236.0
CZ,10278098.0,10232027.0,10201182.0,10192649.0,10195347.0,10198855.0,10223577.0,10254233.0,10343422.0,10425783.0,10462088.0,10486731.0,10505445.0,10516125.0,10512419.0,10538275.0,10553843.0,10578820.0,10610055.0
DE,82163475.0,82259540.0,82440309.0,82536680.0,82531671.0,82500849.0,82437995.0,82314906.0,82217837.0,82002356.0,81802257.0,80222065.0,80327900.0,80523746.0,80767463.0,81197537.0,82175684.0,82521653.0,82792351.0
DK,5330020.0,5349212.0,5368354.0,5383507.0,5397640.0,5411405.0,5427459.0,5447084.0,5475791.0,5511451.0,5534738.0,5560628.0,5580516.0,5602628.0,5627235.0,5659715.0,5707251.0,5748769.0,5781190.0
EE,1401250.0,1392720.0,1383510.0,1375190.0,1366250.0,1358850.0,1350700.0,1342920.0,1338440.0,1335740.0,1333290.0,1329660.0,1325217.0,1320174.0,1315819.0,1314870.0,1315944.0,1315635.0,1319133.0
EL,10775627.0,10835989.0,10888274.0,10915770.0,10940369.0,10969912.0,11004716.0,11036008.0,11060937.0,11094745.0,11119289.0,11123392.0,11086406.0,11003615.0,10926807.0,10858018.0,10783748.0,10768193.0,10741165.0
ES,40470182.0,40665545.0,41035278.0,41827838.0,42547451.0,43296338.0,44009971.0,44784666.0,45668939.0,46239273.0,46486619.0,46667174.0,46818219.0,46727890.0,46512199.0,46449565.0,46440099.0,46527039.0,46658447.0
FI,5171302.0,5181115.0,5194901.0,5206295.0,5219732.0,5236611.0,5255580.0,5276955.0,5300484.0,5326314.0,5351427.0,5375276.0,5401267.0,5426674.0,5451270.0,5471753.0,5487308.0,5503297.0,5513130.0
FR,60545022.0,60979315.0,61424036.0,61864088.0,62292241.0,62772870.0,63229635.0,63645065.0,64007193.0,64350226.0,64658856.0,64978721.0,65276983.0,65600350.0,66165980.0,66458153.0,66638391.0,66804121.0,66926166.0
HR,4497735.0,4295406.0,4305494.0,4305384.0,4305725.0,4310861.0,4312487.0,4313530.0,4311967.0,4309796.0,4302847.0,4289857.0,4275984.0,4262140.0,4246809.0,4225316.0,4190669.0,4154213.0,4105493.0
HU,10221644.0,10200298.0,10174853.0,10142362.0,10116742.0,10097549.0,10076581.0,10066158.0,10045401.0,10030975.0,10014324.0,9985722.0,9931925.0,9908798.0,9877365.0,9855571.0,9830485.0,9797561.0,9778371.0
IE,3777565.0,3832783.0,3899702.0,3964191.0,4028851.0,4111672.0,4208156.0,4340118.0,4457765.0,4521322.0,4549428.0,4570881.0,4589287.0,4609779.0,4637852.0,4677627.0,4726286.0,4784383.0,4830392.0
IS,279049.0,283361.0,286575.0,288471.0,290570.0,293577.0,299891.0,307672.0,315459.0,319368.0,317630.0,318452.0,319575.0,321857.0,325671.0,329100.0,332529.0,338349.0,348450.0
IT,56923524.0,56960692.0,56987507.0,57130506.0,57495900.0,57874753.0,58064214.0,58223744.0,58652875.0,59000586.0,59190143.0,59364690.0,59394207.0,59685227.0,60782668.0,60795612.0,60665551.0,60589445.0,60483973.0
LI,32426.0,32863.0,33525.0,33863.0,34294.0,34600.0,34905.0,35168.0,35356.0,35589.0,35894.0,36149.0,36475.0,36838.0,37129.0,37366.0,37622.0,37810.0,38114.0
LT,3512074.0,3486998.0,3454637.0,3431497.0,3398929.0,3355220.0,3289835.0,3249983.0,3212605.0,3183856.0,3141976.0,3052588.0,3003641.0,2971905.0,2943472.0,2921262.0,2888558.0,2847904.0,2808901.0
LU,433600.0,439000.0,444050.0,448300.0,454960.0,461230.0,469086.0,476187.0,483799.0,493500.0,502066.0,511840.0,524853.0,537039.0,549680.0,562958.0,576249.0,590667.0,602005.0
LV,2381715.0,2353384.0,2320956.0,2299390.0,2276520.0,2249724.0,2227874.0,2208840.0,2191810.0,2162834.0,2120504.0,2074605.0,2044813.0,2023825.0,2001468.0,1986096.0,1968957.0,1950116.0,1934379.0
ME,603152.0,605988.0,608460.0,610510.0,612214.0,613420.0,613109.0,614624.0,615543.0,617157.0,619001.0,619850.0,620308.0,620893.0,621521.0,622099.0,622218.0,622387.0,622359.0
MK,2021578.0,2031112.0,2038651.0,2023654.0,2029892.0,2035196.0,2038514.0,2041941.0,2045177.0,2048619.0,2052722.0,2057284.0,2059794.0,2062294.0,2065769.0,2069172.0,2071278.0,2073702.0,2075301.0
MT,380201.0,391415.0,394641.0,397296.0,399867.0,402668.0,404999.0,405616.0,407832.0,410926.0,414027.0,414989.0,417546.0,422509.0,429424.0,439691.0,450415.0,460297.0,475701.0
NL,15863950.0,15987075.0,16105285.0,16192572.0,16258032.0,16305526.0,16334210.0,16357992.0,16405399.0,16485787.0,16574989.0,16655799.0,16730348.0,16779575.0,16829289.0,16900726.0,16979120.0,17081507.0,17181084.0
NO,4478497.0,4503436.0,4524066.0,4552252.0,4577457.0,4606363.0,4640219.0,4681134.0,4737171.0,4799252.0,4858199.0,4920305.0,4985870.0,5051275.0,5107970.0,5166493.0,5213985.0,5258317.0,5295619.0
PL,38263303.0,38253955.0,38242197.0,38218531.0,38190608.0,38173835.0,38157055.0,38125479.0,38115641.0,38135876.0,38022869.0,38062718.0,38063792.0,38062535.0,38017856.0,38005614.0,37967209.0,37972964.0,37976687.0
PT,10249022.0,10330774.0,10394669.0,10444592.0,10473050.0,10494672.0,10511988.0,10532588.0,10553339.0,10563014.0,10573479.0,10572721.0,10542398.0,10487289.0,10427301.0,10374822.0,10341330.0,10309573.0,10291027.0
RO,22455485.0,22430457.0,21833483.0,21627509.0,21521142.0,21382354.0,21257016.0,21130503.0,20635460.0,20440290.0,20294683.0,20199059.0,20095996.0,20020074.0,19947311.0,19870647.0,19760585.0,19644350.0,19530631.0
RS,7527952.0,7504739.0,7502126.0,7490918.0,7470263.0,7456050.0,7425487.0,7397651.0,7365507.0,7334937.0,7306677.0,7251549.0,7216649.0,7181505.0,7146759.0,7114393.0,7076372.0,7040272.0,7001444.0
SE,8861426.0,8882792.0,8909128.0,8940788.0,8975670.0,9011392.0,9047752.0,9113257.0,9182927.0,9256347.0,9340682.0,9415570.0,9482855.0,9555893.0,9644864.0,9747355.0,9851017.0,9995153.0,10120242.0
SI,1987755.0,1990094.0,1994026.0,1995033.0,1996433.0,1997590.0,2003358.0,2010377.0,2010269.0,2032362.0,2046976.0,2050189.0,2055496.0,2058821.0,2061085.0,2062874.0,2064188.0,2065895.0,2066880.0
SK,5398657.0,5378783.0,5378951.0,5374873.0,5371875.0,5372685.0,5372928.0,5373180.0,5376064.0,5382401.0,5390410.0,5392446.0,5404322.0,5410836.0,5415949.0,5421349.0,5426252.0,5435343.0,5443120.0
TR,66889425.0,64729501.0,65603160.0,66401851.0,67187251.0,68010221.0,68860539.0,69729967.0,70586256.0,71517100.0,72561312.0,73722988.0,74724269.0,75627384.0,76667864.0,77695904.0,78741053.0,79814871.0,80810525.0
UK,58785246.0,58999781.0,59239564.0,59501394.0,59793759.0,60182050.0,60620361.0,61073279.0,61571647.0,62042343.0,62510197.0,63022532.0,63495303.0,63905297.0,64351203.0,64853393.0,65379044.0,65844142.0,66273576.0